NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Gere 32 bytes aleatórios e salve em Base64. Ex.: openssl rand -base64 32
GOOGLE_TOKEN_ENCRYPTION_KEY=
